<a href="https://colab.research.google.com/github/dPwns0328/test/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#2022학년도 1학년 1학기 프로그래밍(파이썬) 수행평가
#한양공업고등학교 1학년 12반 16번 장예준

In [18]:
#1
삼성전자 = 5000
print(5000*10)

50000

In [19]:
#2
year = "2020"
print(int(year))
print(int(year)-1)
print(int(year)-2)

2020
2019
2018

In [10]:
#3
string = "홀짝홀짝홀짝"
string [::2]

'홀홀홀'

In [5]:
#4
string = 'PYTHON'
string [-1::-1]

'NOHTYP'

In [8]:
#5
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [16]:
#6
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
set(range(1, 10, 2))

{1, 3, 5, 7, 9}

In [13]:
#7
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [21]:
#8
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 12
a = "이름 : {} 나이 : {}"
b = "이름 : {} 나이 : {}"
print(a.format(name1,age1))
print(b.format(name2,age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 12